@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/ptsans-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/ptsans-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 1200px;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;

  background-color: #ffffff;
}

.container-large {
  margin: 0 auto;
  width: 1200px;
}

.container-small {
  margin: 0 auto;
  width: 1060px;
}

img {
  max-width: 100%;
  height: auto;
}

.index-main,
.catalog-main {
  flex-grow: 1;
}

.btn {
  padding: 9px 15px 8px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  cursor: pointer;
}

.btn-brown {
  background-color: #756157;
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: #615048;
}

.btn-brown:active {
  background-color: #756157;
}

.btn-blue {
  padding-right: 9px;
  padding-left: 9px;

  background-color: #82b3d3;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #68a2ca;
}

.btn-blue:active {
  background-color: #82b3d3;
}

.btn-green {
  padding-right: 8px;
  padding-left: 8px;

  background-color: #7db54f;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #6c9e42;
}

.btn-green:active {
  background-color: #7db54f;
}

.btn-transparent {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;

  background-color: transparent;
}

.btn-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn:disabled {
  background-color: #e5e5e5;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe {
  text-align: center;
  color: #ffffff;

  background-color: #333333;
}

.subscribe .section-title {
  color: #ffffff;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
}

.subscribing-form {
  margin: 0 auto;
  width: 800px;
}

.user-email-field {
  padding: 20px 22px 19px 22px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);

  background-color: #f2f2f2;
}

.btn-send {
  box-sizing: border-box;
  width: 200px;
  min-height: 60px;
  padding: 12px 15px;
}

.page-header {
  min-height: 65px;
}

.main-nav {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.main-nav a {
  padding: 5px;
}

.main-nav .btn {
  padding: 9px 15px 8px;
}

.main-nav a[href]:not(.btn):hover,
.main-nav a[href]:not(.btn):focus {
  opacity: 0.7;
}

.main-nav a[href]:not(.btn):active {
  opacity: 0.5;
}

.page-header .logo {
  margin-right: 47px;
  padding-top: 0;
  padding-left: 0;
  width: 139px;
}

.site-nav {
  margin: 0;
  margin-right: auto;
  padding: 0;
  width: 600px;
}

.site-nav-link {
  text-decoration: none;
  color: #000000;
}

.user-nav {
  margin: 0;
  padding: 0;
  width: 274px;
}

.page-footer a {
  padding: 5px;
}

.page-footer {
  min-height: 120px;
}

.footer-socials {
  margin: 0;
  margin-right: 45px;
  padding: 0;
  width: 328px;
}

.page-footer .footer-socials-link:first-child {
  padding-left: 0;
}

.footer-socials-link svg {
  fill: #82b3d3;
}

.footer-socials-link:hover svg,
.footer-socials-link:focus svg {
  fill: #68a2ca;
}

.footer-socials-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.tel-link {
  margin-right: auto;
  width: 340px;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.tel-link:hover,
.tel-link:focus {
  color: #756157;
}

.tel-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-link {
  padding-right: 0;
  width: 400px;
}

.html-academy-link svg {
  fill: #000000;
}

.html-academy-link:hover svg,
.html-academy-link:focus svg {
  fill: #756157;
}

.html-academy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.promo {
  text-align: center;

  background-color: #333333;
}

.promo-images-wrapper {
  width: 1200px;
  height: 485px;

  background-image: url("../images/promo-decor.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.promo-title-img {
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.promo-images-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lead {
  margin: 0 auto;
  width: 630px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.advantages {
  text-align: center;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  margin: 0;
  padding: 0;

  counter-reset: advantages-counter;
}

.advantage-sublist {
  margin: 0;
  padding: 0;
}

.advantages-item {
  counter-increment: advantages-counter;
}

.advantage-brightblue-bg .advantage-text-content,
.advantage-lightblue-bg,
.advantage-white-bg,
.advantage-darker-lightblue-bg {
  width: 400px;
  min-height: 384px;
}

.advantage-lightblue-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-darker-lightblue-bg {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-brightblue-bg .advantage-text-content {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantage-title,
.subadvantage-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-white-bg .advantage-title,
.advantage-lightblue-bg .advantage-title,
.advantage-darker-lightblue-bg .advantage-title,
.subadvantage-title {
  color: #000000;
}

.advantage-title::after {
  content: "- №" counter(advantages-counter) " -";

  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantage-text {
  margin: 0 auto;
  width: 240px;
}

.advantage-img {
  width: 800px;
  height: 384px;
}

.advantage-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trip-date {
  min-height: 417px;

  text-align: center;
}

.trip-date-text {
  font-size: 22px;
  line-height: 26px;
}

.trip-date .btn-brown {
  display: inline-block;
  padding: 12px 15px;
  width: 574px;
}

.index-subscribe {
  min-height: 417px;

  background-image: url("../images/subscribe-background.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

.catalog-main {
  background-color: #333333;
  background-image: url("../images/filters-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.catalog-main-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;

  font-size: 16px;
}

.breadcrumbs-link {
  padding: 5px;

  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:first-child {
  padding-left: 0;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.filters {
  min-height: 403px;
}

.filters-form fieldset {
  margin: 0;
  padding: 0;
}

.filters-form legend {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.filters-form label {
  color: #ffffff;
}

.infrastructure {
  margin-right: 50px;
  width: 170px;
}

.housing-type {
  margin-right: auto;
  width: 170px;
}

.filters-price {
  margin-right: 70px;
  width: 288px;
}

.filters-btns {
  width: 160px;

  text-align: center;
}

.filters-btns .btn {
  display: inline-block;
  box-sizing: border-box;
}

.filters-btns .btn-blue {
  padding: 14px 15px;
  width: 100%;
}

.filters-btns .btn-transparent {
  padding: 4px 5px 5px;
  width: 100px;
}

.catalog-main-content,
.catalog-main .subscribe {
  background-color: #ffffff;
}

.layout-menu {
  margin: 0;
  padding: 0;
}

.layout-btn {
  display: block;
  width: 48px;
  height: 48px;
}

.cards {
  margin: 0;
  margin-right: -18px;
  padding: 0;
}

.hotels-card {
  box-sizing: border-box;
  margin-right: 18px;
  padding: 20px 20px 28px;
  width: 340px;
  min-height: 438px;
}

.card-link {
  text-decoration: none;
}

.card-img {
  width: 300px;
  height: 211px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotels-card .btn {
  box-sizing: border-box;
  width: 140px;
}

.hotels-card .btn-brown {
  margin-right: 20px;
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-list {
  margin: 0;
  padding: 0;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;

  cursor: text;
}

.hotels-on-page {
  box-sizing: border-box;
  width: 160px;
  padding: 14px 20px;
}

.catalog-subscribe {
  min-height: 411px;

  color: #333333;
}

.catalog-subscribe .section-title {
  color: #000000;
}
