@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/ptsans-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/ptsans-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  min-width: 1280px;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  word-break: break-word;
  color: #333333;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.container-outer {
  margin: 0 auto;
  width: 1200px;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.container-inner {
  margin: 0 auto;
  width: 1060px;
}

img {
  max-width: 100%;
  height: auto;
}

.index-main,
.catalog-main {
  flex-grow: 1;
}

.index-main a:focus,
.catalog-main a:focus,
.index-main button:focus,
.catalog-main button:focus {
  outline: none;
}

.btn {
  display: inline-block;
  padding: 9px 15px 8px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  border-radius: 4px;

  cursor: pointer;
}

.btn-brown {
  background-color: #756157;
}

.btn-brown:hover,
.btn-brown:focus,
.card-link:hover ~ .btn-brown,
.card-link:focus ~ .btn-brown {
  background-color: #615048;
}

.btn-brown:active {
  background-color: #756157;
}

.btn-blue {
  padding-right: 9px;
  padding-left: 9px;

  background-color: #82b3d3;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #68a2ca;
}

.btn-blue:active {
  background-color: #82b3d3;
}

.btn-green {
  padding-right: 7px;
  padding-left: 7px;

  background-color: #7db54f;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #6c9e42;
}

.btn-green:active {
  background-color: #7db54f;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn:disabled {
  background-color: #e5e5e5;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe {
  padding-top: 94px;
  padding-bottom: 94px;
  min-height: 411px;

  text-align: center;
  color: #ffffff;

  background-color: #333333;
}

.subscribe .section-title {
  margin-top: 0;
  margin-bottom: 29px;

  color: #ffffff;
}

.subscribe-text {
  margin: 0 auto;
  margin-bottom: 46px;
  width: 475px;

  font-size: 22px;
  line-height: 26px;
}

.subscribing-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  width: 800px;
}

.subscribing-form p {
  margin: 0;
}

.user-email-field {
  padding: 20px 22px 19px 22px;
  width: 600px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);

  background-color: #f2f2f2;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-send {
  box-sizing: border-box;
  padding: 12px 15px;
  width: 200px;
  min-height: 60px;

  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.select-wrapper {
  margin: 0;

  position: relative;
}

.select-wrapper::after {
  content: "";

  position: absolute;
  top: 24px;
  right: 20px;

  display: block;
  width: 12px;
  height: 7px;

  background-image: url("../images/interface.svg");
  background-repeat: no-repeat;
  background-position: -206px -27px;
}

.catalog-main-content select {
  position: relative;

  padding: 14px 52px 14px 20px;
  min-height: 48px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
}

.catalog-main-content select:hover,
.catalog-main-content select:focus {
  border-color: #68a2ca;
}

.catalog-main-content select:active {
  border-color: #3f5e72;
}

.catalog-main-content select:disabled {
  position: relative;
  z-index: 1;

  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
  background-image: url("../images/arrow-down-disabled.svg");
  background-repeat: no-repeat;
  background-position: top 22px right 18px;
  border-color: rgba(0, 0, 0, 0.3);
}

.page-header {
  min-height: 65px;
}

.main-nav {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.main-nav a {
  padding-right: 5px;
  padding-left: 5px;
  height: 100%;

  transition: opacity 0.3s ease-in-out;
}

.main-nav a[href]:not(.btn):hover,
.main-nav a[href]:not(.btn):focus {
  opacity: 0.7;
}

.main-nav a[href]:not(.btn):active {
  opacity: 0.5;
}

.page-header .logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  box-sizing: content-box;
  margin-right: 38px;
  padding-top: 0;
  padding-left: 0;
  width: 139px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 182px;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  max-width: 600px;
}

.site-nav-item:not(:last-child) {
  margin-right: 24px;
}

.site-nav-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 19px;

  text-decoration: none;
  color: #000000;
}

.page-header .site-nav-link-current {
  position: relative;

  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 0;
  margin-left: 5px;
  margin-right: 5px;

  border-bottom: 3px solid #756257;
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 274px;
}

.user-nav-item {
  min-width: 37px;
  min-height: 37px;
}

.user-nav-item:nth-child(2) {
  margin-left: 4.5px;
}

.user-nav-item:last-child {
  padding-right: 0;
}

.user-nav-link:not(.btn) {
  display: block;
  margin-top: 9px;
  padding: 4px;
  width: 26px;
  height: 26px;

  background-repeat: no-repeat;
}

.user-nav-link {
  text-decoration: none;
}

.user-nav-item:first-child .user-nav-link {
  background-image: url("../images/interface.svg");
  background-position: -99px -21px;
}

.user-nav-item:nth-child(2) .user-nav-link {
  position: relative;

  background-image: url("../images/interface.svg");
  background-position: -125px -21px;
}

.user-nav-link span {
  position: absolute;
  right: -7px;
  top: -8px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;

  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 50%;
}

.user-nav .btn-brown {
  align-self: center;
  margin-left: 13px;
  padding: 9px 15px 8px;
  min-width: 160px;

  text-align: center;
}

.user-nav .btn-brown:focus {
  outline: none;
  background-color: #615048;
}

.page-footer a {
  padding: 5px;
}

.page-footer a:focus {
  outline: none;
}

.page-footer {
  padding-top: 45px;
  padding-bottom: 35px;
  min-height: 120px;

  background-color: #ffffff;
}

.page-footer .container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 300px;
}

.page-footer .footer-socials-link:first-child {
  padding-left: 0;
}

.footer-socials-link svg {
  margin-right: 27px;
  min-width: 24px;
  min-height: 18px;

  fill: #82b3d3;
}

.footer-socials-link:hover svg,
.footer-socials-link:focus svg {
  fill: #68a2ca;
}

.footer-socials-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.tel-link {
  margin-left: auto;
  margin-right: 235px;
  max-width: 360px;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.tel-link:hover,
.tel-link:focus {
  color: #756157;
}

.tel-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-link {
  padding-right: 0;
  max-width: 200px;
}

.html-academy-link svg {
  fill: #000000;
}

.html-academy-link:hover svg,
.html-academy-link:focus svg {
  fill: #756157;
}

.html-academy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.promo {
  text-align: center;

  background-color: #333333;
}

.promo-images-wrapper {
  position: relative;

  padding-top: 51px;
  padding-bottom: 83px;
  min-width: 100%;
  min-height: 485px;
}

.promo-images-wrapper::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  display: block;
  width: 100%;
  height: 57px;

  background-image: url("../images/promo-decor.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.promo-title-img {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.promo-images-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo-images-wrapper > img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.lead {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.advantages {
  text-align: center;
}

.advantages-text {
  margin: 0;
  margin-bottom: 90px;

  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  counter-reset: advantages-counter;
}

.advantage-text-content,
.advantages-item-small {
  padding: 92px 85px;
}

.advantage-sublist {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  counter-increment: advantages-counter;
}

.advantage-sublist-item {
  padding: 80px 85px 81px;
}

.advantage-brightblue-bg .advantage-text-content,
.advantage-lightblue-bg,
.advantage-white-bg,
.advantage-darker-lightblue-bg {
  width: 400px;
  min-height: 384px;
}

.advantage-brightblue-bg {
  display: flex;
  flex-wrap: wrap;
}

.advantage-lightblue-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-darker-lightblue-bg {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-brightblue-bg .advantage-text-content {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantage-title,
.subadvantage-title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.subadvantage-title {
  display: flex;
  flex-direction: column;
}

.subadvantage-title::before {
  content: "";

  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 76px;
  height: 76px;

  background-image: url("../images/advantages-icons.svg");
  background-repeat: no-repeat;
}

.advantage-sublist-item:first-child .subadvantage-title::before {
  background-position: -133px -16px;
}

.advantage-sublist-item:nth-child(2) .subadvantage-title::before {
  background-position: -257px -14px;
}

.advantage-sublist-item:nth-child(3) .subadvantage-title::before {
  background-position: -14px -20px;
}

.advantage-white-bg .advantage-title,
.advantage-lightblue-bg .advantage-title,
.advantage-darker-lightblue-bg .advantage-title,
.subadvantage-title {
  color: #000000;
}

.advantage-title {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.advantage-title::after {
  content: "- №" counter(advantages-counter) " -";

  margin: 30px 0;

  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantage-text {
  margin: 0 auto;
  max-width: 240px;
}

.advantage-img {
  width: 800px;
  height: 384px;
}

.advantage-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trip-date {
  padding-top: 91px;
  padding-bottom: 93px;
  min-height: 417px;

  text-align: center;
}

.trip-date .section-title {
  margin-top: 0;
  margin-bottom: 29px;
}

.trip-date-text {
  margin-top: 0;
  margin-bottom: 56px;

  font-size: 22px;
  line-height: 26px;
}

.trip-date .btn-brown {
  display: inline-block;
  padding: 12px 15px;
  width: 574px;
}

.index-subscribe {
  background-image: url("../images/subscribe-background.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

.catalog-main {
  padding-top: 30px;

  background-color: #333333;
  background-image: url("../images/filters-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.catalog-main-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;

  font-size: 16px;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 5px;
  padding-right: 10px;

  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 6px 9px;
}

.breadcrumbs-link {
  padding: 5px;

  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  padding-left: 0;
  width: 18px;
  height: 23px;
}

.breadcrumbs-link svg {
  fill: #ffffff;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover svg,
.breadcrumbs-link:focus svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.filters {
  min-height: 220px;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
}

.filters-form fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 55px;

  border: none;
}

.filters-form p {
  margin: 0;
  margin-bottom: 15px;
}

.filters-form label {
  color: #ffffff;
}

.filters-form .infrastructure {
  margin-right: 70px;
  max-width: 170px;
}

.filters-form .housing-type {
  margin-right: auto;
  max-width: 170px;
}

.filters-form .filters-price {
  margin-right: 60px;
  width: 298px;
}

.filters-price .fieldset-title {
  margin-bottom: 34px;
}

.infrastructure label,
.housing-type label {
  display: flex;
  flex-wrap: wrap;
}

.infrastructure label::before,
.housing-type label::before {
  content: "";

  display: block;
  margin-right: 19px;
  width: 20px;
  height: 20px;

  background-color: #ffffff;
}

.infrastructure input:focus + label::before,
.housing-type input:focus + label::before {
  border: 3px solid #83b3d3;
}

.infrastructure input:active + label::before,
.housing-type input:active + label::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.infrastructure label::before {
  border-radius: 4px;
}

.infrastructure input[type="checkbox"]:checked + label::before {
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: -43px -20px;
}

.infrastructure input[type="checkbox"]:checked:focus + label::before {
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: -46px -23px;
}

.filters-form .fieldset-title {
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.housing-type label::before {
  border-radius: 50%;
}

.housing-type input[type="radio"]:checked + label::before {
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: -20px -20px;
}

.housing-type input[type="radio"]:checked:focus + label::before {
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: -23px -23px;
}

.range-inputs-wrapper {
  display: flex;
}

.range-inputs-wrapper p {
  position: relative;

  margin-bottom: 20px;
}

.range-input {
  padding-right: 40px;
  padding-left: 19px;
  width: 145px;
  height: 48px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;

  appearance: textfield;
}

.min-price {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.max-price {
  position: relative;
  left: -2px;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  outline: 2px solid #81b3d3;
  box-shadow: inset 0 0 0 2px #91b3d3;
}

.range-input:active {
  background-color: #756157;
  outline: none;
  box-shadow: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
}

.filters-form .range-input-label {
  position: absolute;
  right: 15px;
  top: 12px;

  color: rgba(255, 255, 255, 0.3);
}

.range-scale {
  position: relative;

  width: 288px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;

  height: 4px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.range-toggle-min {
  left: -10px;
  top: -8px;
}

.range-toggle-max {
  right: -10px;
  top: -8px;
}

.range-toggle:hover,
.range-toggle:focus {
  border: 3px solid #83b3d3;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
}

.filters-form .filters-btns {
  padding-top: 60px;
  max-width: 160px;

  text-align: center;
}

.filters-btns .btn {
  display: inline-block;

  border: none;
}

.filters-btns .btn-blue {
  padding: 14px 15px;
  width: 100%;
}

.filters-btns .btn-transparent {
  margin-top: 23px;
  padding: 4px 5px 5px;
  width: 100px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;

  background-color: transparent;
}

.filters-btns .btn-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filters-btns .btn-transparent:focus {
  margin-top: 20px;

  color: #ffffff;

  border: 3px solid #83b3d3;
}

.filters-btns .btn-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-main-content-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.sorting-select {
  width: 290px;
}

.layout-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-main-content,
.catalog-main .subscribe {
  background-color: #ffffff;
}

.layout-btn {
  position: relative;

  display: block;
  width: 48px;
  height: 48px;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.layout-btn:hover {
  border-color: #000000;
}

.layout-btn:focus {
  border-color: #68a2ca;
}

.layout-btn:active {
  border-color: #000000;
}

.layout-btn::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  display: block;
  width: 16px;
  height: 14px;

  background-image: url("../images/mode.svg");
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.layout-btn-current {
  border-color: #000000;
}

.layout-item:first-child .layout-btn::after {
  background-position: -20px -23px;
}

.layout-item:nth-child(2) .layout-btn::after {
  background-position: -48px -23px;
}

.layout-item:nth-child(3) .layout-btn::after {
  background-position: -74px -23px;
}

.catalog-main-content {
  padding-top: 50px;
  padding-bottom: 25px;
}

.catalog-main-content .section-title {
  margin-top: 7px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px 18px;
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  list-style-type: none;
}

.hotels-card {
  padding: 20px;
  width: 340px;
  min-height: 438px;
}

.card-link {
  text-decoration: none;
}

.card-img {
  margin-bottom: 16px;
  width: 300px;
  height: 211px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-info {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  margin-top: 0;
  margin-bottom: 16px;
}

.hotels-card .btn {
  display: inline-block;
  margin-bottom: 16px;
  width: 140px;

  border: none;
}

.hotels-card .btn-brown {
  margin-right: 15px;
}

.card-rank-rating-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-rank-stars {
  min-height: 37px;

  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  background-position: left center;
  background-size: 22px 17px;
}

.four-stars {
  width: 90px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 42px;
}

.card-rating {
  padding: 9px 22px 8px 23px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.catalog-main-content-footer {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border-top: 1px solid #e6e6e6;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;

  cursor: text;
}

.hotels-on-page {
  width: 160px;
}

.catalog-subscribe {
  color: #333333;
}

.catalog-subscribe .section-title {
  color: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-shown {
  display: block;
}

.modal {
  position: relative;
  top: 396px;
  z-index: 11;

  margin: 0 auto;
  padding: 54px 70px 70px 68px;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 715px;
}

.modal-search-header {
  display: flex;
  justify-content: space-between;
}

.modal .section-title {
  margin-top: 10px;
  margin-bottom: 61px;
}

@-moz-document url-prefix("") {
  .modal .section-title {
    margin-top: 8px;
    margin-bottom: 63px;
  }
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;

  background-color: #f2f2f2;

  border: none;
  border-radius: 50%;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  border: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 0.6;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";

  width: 16px;
  height: 1.5px;

  background-color: #000000;
}

.modal-close-button::before {
  transform: translate(7.5px, 0) rotate(-45deg);
}

.modal-close-button::after {
  transform: translate(-8.5px, 0) rotate(45deg);
}

.search-form {
  row-gap: 10px;
  column-gap: 18px;
}

.search-form p {
  margin-top: 0;
  margin-bottom: 0;
}

.search-form .input-large-group {
  position: relative;

  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 139px 1fr;
  row-gap: 9px;
  column-gap: 18px;
  align-items: center;
}

.search-form .inputs-small-group {
  display: grid;
  grid-template-columns: 139px 170px 80px 133px;
  column-gap: 18px;
  align-items: center;
  margin-bottom: 40px;
}

.search-form label {
  padding-left: 2px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
}

.search-form input {
  min-height: 50px;

  font: inherit;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.input-large-group input {
  padding-left: 19px;
  padding-right: 42px;
}

.input-large-group::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 19px;

  display: block;
  width: 16px;
  height: 15px;

  background-image: url("../images/interface.svg");
  background-repeat: no-repeat;
  background-position: -74px -22px;
  opacity: 0.3;
}

.search-form input:hover {
  background-color: #e6e6e6;
}

.search-form input:focus {
  padding-left: 16px;

  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.search-form input:active {
  padding-left: 17px;

  border: 2px solid #000000;
}

.search-form .input-info {
  grid-column: 2 / -1;
  margin-bottom: 10px;

  font-size: 16px;
}

.search-form .input-info-error {
  color: #ff5757;
}

.search-form .input-with-btns-wrapper {
  position: relative;

  width: 133px;
}

.search-form input[type="number"] {
  width: 100%;

  font: inherit;
  text-align: center;

  appearance: textfield;
}

.search-form input[type="number"]::-webkit-outer-spin-button,
.search-form input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.input-number-btn {
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;

  background-color: transparent;
  border: none;
  border-radius: 4px;

  transform: translateY(-50%);
}

.quantity-decrease-btn {
  left: 13px;
}

.quantity-increase-btn {
  right: 13px;
}

.input-number-btn::before,
.quantity-increase-btn::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 13px;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.3);

  transform: translate(-50%, -50%);
}

.quantity-increase-btn::after {
  transform: translate(-50%, -50%) rotate(-90deg);
}

@-moz-document url-prefix("") {
  .quantity-increase-btn::after {
    transform: translateX(-50%) translateX(1px) rotate(-90deg);
  }
}

.input-number-btn:hover::before,
.quantity-increase-btn:hover::after,
.input-number-btn:focus::before,
.quantity-increase-btn:focus::after {
  background-color: #000000;
}

.input-number-btn:focus {
  border: 3px solid #83b3d3;
}

.input-number-btn:active::before,
.quantity-increase-btn:active::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.label-with-tooltip-wrapper {
  position: relative;

  padding-right: 28px;
}

.tooltip-btn {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 3px;
  width: 25px;
  height: 25px;

  background-color: #83b3d3;
  background-image: url("../images/interface.svg");
  background-repeat: no-repeat;
  background-position: -277.5px -17px;
  border: none;
  border-radius: 50%;
}

.tooltip {
  position: absolute;
  left: -60px;
  top: 43px;

  display: none;
  padding: 16px 18px 22px 22px;
  width: 257px;

  font-size: 16px;
  color: #ffffff;

  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.tooltip::before {
  content: "";

  position: absolute;
  left: 50%;
  top: -9px;

  width: 19px;
  height: 0;

  border-right: 9.5px solid transparent;
  border-bottom: 9px solid #333333;
  border-left: 9.5px solid transparent;

  transform: translateX(-50%) translateX(-1px);
}

.tooltip-btn:hover,
.tooltip-btn:focus {
  background-color: #68a2c2;
  outline: none;
}

.tooltip-btn:hover + .tooltip,
.tooltip-btn:focus + .tooltip {
  display: block;
}

.tooltip-text {
  margin: 0;
}

.modal-btn-send {
  margin-left: 3px;
  padding-top: 9px;
  width: 575px;

  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #83b3d3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modal-btn-send:hover {
  background-color: #68a2ca;
}

.modal-btn-send:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.modal-btn-send:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
}
